/* Root variables for color theme */
:root {
  --trans-bg: rgba(66, 66, 66, 0.2);
  --shadow: rgba(119, 119, 119, 0.5);

  --primary-bg: #121212;
  --primary-text: #ffffff;
}

/* Change colors if device in light theme */
@media (prefers-color-scheme: light) {
  :root {
    --primary-bg: #f5f5f5;
    --primary-text: #000000;
  }
}

/* Body initial layout */
body {
  display: flex;
  align-items: center;
  flex-direction: column;

  font-size: xx-large;
  color: var(--primary-text);
  font-family: Arial, sans-serif;
  background-color: var(--primary-bg);
}

/* Display the first screen */
.first-screen,
.second-screen {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Hide the second screen */
.second-screen {
  display: none;
}