:root {
  --primary-bg: #121212;
  --primary-text: #ffffff;
}

/*@media (prefers-color-scheme: light) {
  :root {
    --primary-bg: #f5f5f5;
    --primary-text: #000000;
  }
}*/

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: var(--primary-bg);
  color: var(--primary-text);

  margin: 0;
  padding: 20px;
}

.border-box {
  width: 80%;
  height: auto;
  padding: 20px;

  border-radius: 15px;
  border: 4px double;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
}

.section {
  width: 60%;
  height: 300px;
  padding: 20px;
  margin: 20px;

  background-color: rgba(79, 75, 69, 0.1);
  position: relative;
  overflow: hidden;

  border: 4px double #ff9800;
  box-shadow: 0px 0px 15px 3px rgba(255, 152, 0, 0.5);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-content {
  color: var(--primary-text);
  text-shadow: var(--primary-bg) 1px 0 10px;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}

.section img {
  height: 70%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  top: 20%;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.section .b {
  transform: rotateY(180deg);
}

.desktop-hover .section:hover .a {
  animation: rotate-a 4s forwards;
}

.desktop-hover .section:hover .b {
  animation: rotate-b 4s forwards;
}

@keyframes rotate-a {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(1980deg);
  }
}

@keyframes rotate-b {
  0% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(2160deg);
  }
}