/* Initial banner styles */
.left-banner,
.right-banner {
  position: fixed;
  height: 100%;
  width: 150px;
  bottom: 0;
  top: 0;
}

/* Apply this styles for small screen */
@media (max-width: 1024px) {

  .left-banner,
  .right-banner {
    display: none;
  }
}

/* Stick to the left */
.left-banner {
  left: 0;
}

/* Stick to the right */
.right-banner {
  right: 0;
}

/* Make the images full size */
.left-banner img,
.right-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}