/* Setup the coin section layout/border */
.coin-section-2 {
  margin-bottom: 40px;
  height: auto;
  width: 60%;

  border-radius: 15px;
  border: 2px solid var(--primary-text);
  box-shadow: 0px 0px 15px 3px var(--shadow);
  background-color: var(--trans-bg);

  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

/* Apply styles for small screen */
@media (max-width: 1024px) {
  .coin-section-2 {
    height: auto;
    width: 80%;
  }
}

/* Back button styles */
.back-button-2 {
  width: 50px;
  height: 50px;

  cursor: pointer;
  position: absolute;
  left: 20px;
  top: 20px;
}

/* Style the coin name */
.coin-name-2 {
  text-shadow: var(--primary-bg) 1px 0 10px;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  margin-top: 20px;
}

/* Styles for numbers sections */
.coin-image-2,
.number-section-2 {
  position: absolute;
  top: 85px;

  width: 300px;
  height: 300px;
}

/* Let the clicks go through */
.number-section-2 {
  pointer-events: none;
}

/* Styles for each circle */
.number-circle-2 {
  height: 10%;
  width: 10%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  font-size: medium;

  cursor: pointer;
  pointer-events: auto;
  user-select: none;

  border-radius: 90px;
  border: 2px solid var(--primary-text);
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
}

/* Styles for the information */
.info-section-2 {
  height: auto;
  width: 70%;

  padding: 30px;
  margin-top: 320px;

  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  word-wrap: break-word;
}