.left-banner,
.right-banner {
  position: fixed;
  height: 100%;
  width: 12%;
  bottom: 0;
  top: 0;
}

.left-banner {
  left: 0;
}

.right-banner {
  right: 0;
}

.left-banner img,
.right-banner img {
  height: 100%;
  width: auto;
}

@media only screen and (max-width: 1590px) {
  .border-box {
    width: 80%;
  }

  .left-banner,
  .right-banner {
    display: none;
  }
}