.border-box {
  width: 60%;
  height: auto;
  padding: 20px;
  margin-bottom: 100px;

  border-radius: 15px;
  border: 4px double;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
}

.section {
  width: 60%;
  height: 300px;
  padding: 20px;
  margin: 20px;

  background-color: rgba(69, 67, 64, 0.155);
  position: relative;
  overflow: hidden;

  border: 2px #ffffff;
  box-shadow: 0px 0px 15px 3px rgba(153, 152, 150, 0.5);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-content {
  color: var(--primary-text);
  text-shadow: var(--primary-bg) 1px 0 10px;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
}

.section img {
  height: 70%;
  width: 80%;
  object-fit: contain;
  position: absolute;
  top: 20%;
  left: 10%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}